#1) What are string methods?

String methods are built-in Python functions that let you manipulate and analyze text data easily.

In [1]:
text = "Hello World 123"

print(text.isalpha())      # False, because it contains spaces and numbers
print(text.isalnum())      # False, because it contains spaces
print(text.upper())        # "HELLO WORLD 123"
print(text.lower())        # "hello world 123"
print(text.replace("World", "Python"))  # "Hello Python 123"
print(text.startswith("Hello"))  # True
print(text.endswith("123"))      # True
print(text.split())        # ['Hello', 'World', '123']
print("-".join(["Python", "Rocks"]))  # "Python-Rocks"

False
False
HELLO WORLD 123
hello world 123
Hello Python 123
True
True
['Hello', 'World', '123']
Python-Rocks

#2) What are conditionals?

Conditional statements in Python control the flow of your code by executing certain blocks only when specific conditions are met.

`if`: Runs when the condition is true.

`else`: Runs when all previous conditions are false.

`elif`: Checks another condition if the previous `if` was false.

Nested if: An if inside another if to check multiple levels of conditions.

In [2]:
age = 20

# If-Else
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

# If-Elif-Else
marks = 85
if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
else:
    print("Grade C")

# Nested If
x = 15
if x > 10:
    if x < 20:
        print("x is between 10 and 20")

You are an adult.
Grade B
x is between 10 and 20

#3) Difference between for loop and while loop, and the use of break and continue

`For` Loop: Best when you know how many times you need to iterate (lists, strings, ranges).

`While` Loop: Best when you don’t know how many times, but stop when a condition fails.

`break`: Immediately stops the loop.

`continue`: Skips the rest of the code for that iteration and moves to the next one.

In [3]:
# For loop
for i in range(5):
    print(i)

# While loop
count = 0
while count < 5:
    print(count)
    count += 1

# Break example
for num in range(10):
    if num == 5:
        break
    print(num)

# Continue example
for num in range(5):
    if num == 2:
        continue
    print(num)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
3
4

#4) What is Lambda, Map, and Zip function?

Lambda: One-line, anonymous function without `def`.

Map: Applies a function to each item in a list/tuple.

Zip: Combines multiple lists/tuples element-wise into tuples.

In [4]:
# Lambda function
square = lambda x: x * x
print(square(5))  # 25

# Map function
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)  # [1, 4, 9, 16]

# Zip function
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 95]
combined = list(zip(names, scores))
print(combined)  # [('Alice', 85), ('Bob', 90), ('Charlie', 95)]

25
[1, 4, 9, 16]
[('Alice', 85), ('Bob', 90), ('Charlie', 95)]

#5) What are functions?

Functions make code organized, reusable, and easier to maintain. We define a function using `def`, and we can pass arguments to it and return results.

In [5]:
def add_numbers(a, b):
    return a + b

result = add_numbers(10, 20)
print("Sum:", result)  # Sum: 30

Sum: 30

#6) Dataset

In [6]:
import pandas as pd
import kagglehub

# Download dataset from Kaggle
path = kagglehub.dataset_download("jp797498e/twitter-entity-sentiment-analysis")
print("Path to dataset files:", path)

# Load CSV file with no header row
df = pd.read_csv(path + "/twitter_training.csv", header=None)

# Rename columns
df.columns = ["ID", "Entity", "Sentiment", "Tweet"]

# Preview first and last rows
print("\n--- First 5 Rows ---")
print(df.head())

print("\n--- Last 5 Rows ---")
print(df.tail())

# Dataset information
print("\n--- Dataset Info ---")
print(df.info())

# Shape of dataset
print("\nShape of dataset:", df.shape)

# Column names
print("\nColumn names:", df.columns.tolist())

# Missing values
print("\n--- Missing Values ---")
print(df.isnull().sum())

# Descriptive statistics for object and numeric columns
print("\n--- Descriptive Statistics ---")
print(df.describe(include='all'))

# Example: Unique sentiment values
print("\n--- Sentiment Value Counts ---")
print(df['Sentiment'].value_counts())

Downloading from https://www.kaggle.com/api/v1/datasets/download/jp797498e/twitter-entity-sentiment-analysis?dataset_version_number=2...

100%|██████████| 1.99M/1.99M [00:00<00:00, 119MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/jp797498e/twitter-entity-sentiment-analysis/versions/2

--- First 5 Rows ---
     ID       Entity Sentiment  \
0  2401  Borderlands  Positive
1  2401  Borderlands  Positive
2  2401  Borderlands  Positive
3  2401  Borderlands  Positive
4  2401  Borderlands  Positive

                                               Tweet
0  im getting on borderlands and i will murder yo...
1  I am coming to the borders and I will kill you...
2  im getting on borderlands and i will kill you ...
3  im coming on borderlands and i will murder you...
4  im getting on borderlands 2 and i will murder ...

--- Last 5 Rows ---
         ID  Entity Sentiment  \
74677  9200  Nvidia  Positive
74678  9200  Nvidia  Positive
74679  9200  Nvidia  Positive
74680  9200  Nvidia  Positive
74681  9200  Nvidia  Positive

                                                   Tweet
74677  Just realized that the Windows partition of my...
74678  Just realized that my Mac window partition is ...
74679  Just realized the windows partition of my Mac ...
74680  Just realized between the windows partition of...
74681  Just like the windows partition of my Mac is l...

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74682 entries, 0 to 74681
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         74682 non-null  int64
 1   Entity     74682 non-null  object
 2   Sentiment  74682 non-null  object
 3   Tweet      73996 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB
None

Shape of dataset: (74682, 4)

Column names: ['ID', 'Entity', 'Sentiment', 'Tweet']

--- Missing Values ---
ID             0
Entity         0
Sentiment      0
Tweet        686
dtype: int64

--- Descriptive Statistics ---
                  ID     Entity Sentiment  \
count   74682.000000      74682     74682
unique           NaN         32         4
top              NaN  Microsoft  Negative
freq             NaN       2400     22542
mean     6432.586165        NaN       NaN
std      3740.427870        NaN       NaN
min         1.000000        NaN       NaN
25%      3195.000000        NaN       NaN
50%      6422.000000        NaN       NaN
75%      9601.000000        NaN       NaN
max     13200.000000        NaN       NaN

                                                    Tweet
count                                               73996
unique                                              69491
top     At the same time, despite the fact that there ...
freq                                                  172
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

--- Sentiment Value Counts ---
Sentiment
Negative      22542
Positive      20832
Neutral       18318
Irrelevant    12990
Name: count, dtype: int64