#1) What is Natural Language Processing (NLP)?
Natural Language Processing (NLP) is a field of Artificial Intelligence that enables computer to understand, read, and create human language. It is used in applications like chatbots, translation services, sentiment analysis, and voice recognition.

#2) Explain the different data types with examples.

##1. Text type:

String (str)

A sequence of a sequence of character or text enclosed in single or double quotes.

Strings are used to store names, sentences, words, and any kind of textual data.

In [ ]:
name = 'Python'. #name is a string because it holds text in double quotes.

## 2. Numeric types:

a. Integer (int)

An integer is a whole number that does not have any decimal part.

It can be positive, negative, or zero. Python uses the `int` data type to store such values.

In [ ]:
a = 10  #'a' is an integer because it stores the whole number 10.
print(type(a))

<class 'int'>

b. Float (float)

A float is a number that includes a decimal point. This data type is used when we need more precision or when working with fractional values.

In [ ]:
b = 3.14 #'b' is a float because it contains a decimal value.
print(type(b))

<class 'float'>

##3. Sequence type

a. List (list)

A list is a collection of items stores in a specific order.

Lists are mutable, which means we can change, add, or remove items after the list is created.

Items are placed inside square brackets [ ].

In [ ]:
fruits = ["apple", "banana", "orange"]. #fruits is a list that contains three fruit names

b. Tuple (tuple)

A tuple is also a collection of items, just like a list, but it is immutable, meaning we cannot change or update its various once it's created.

Tuples are defined using round brackets ( ).

In [ ]:
coordinates = (10, 20) #coordinates is a tuple containing two numbers.

c. Range (range)

A range is a built-in data type in Python that represents a sequence of numbers.

It is not most commonly used in `loop`, especially `for loops`, to repeat something s specific number of times.

In [ ]:
numbers = range(1, 6) #numbers is a range that contains numbers from 1 to 5.

##4. Mapping type:

Dictionary (dict)

A dictionary is a collection of key-value pairs. Each value in the dictionary is accessed using its unique key.

Dictionaries are useful when we wamt to label each value.

In [ ]:
student = {"name": "Amit", "age": 21}  #student is a dictionary where "name" and "age" are keys, and "Amit" and 21 are their corresponding values.

##5. Set type:

Set (set)

A set is a collection that stores only unique values, meaning it removes duplicates automatically.

Sets are unordered, so the items may appear in any order when printed.

In [ ]:
numbers = {1, 2, 2, 3}. #the set numbers will only contain {1, 2, 3} because duplicate values are removed.

##6. Boolean (bool)

A boolean can hold only two values: `True or False`

This data type is mainly used to check conditions in programs (like yes/no, true/false decisions).

In [ ]:
is_sunny = True. #is_sunny is a boolean variable that stores the value 'True'

#3) Explain the different Python operators with examples.

Operators are special symbols or keywords in Python that perform operations on values or variables.'

For example, the + operator is used to add two numbers, and the == operator is used to check if two values are equal.

Python has several types of operators:

##1. Arithmatic operators

These operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

'+' Adition


'-' Substraction


'*' Multiplication

'/' Division

'%' Modulus

'**' Exponent

'//' Floor Division

In [1]:
a = 10
b = 3

print(a + b) #Addition
print(a - b) #Substraction
print(a * b) #Multiplication
print(a / b) #Division
print(a % b) #Modulus
print(a ** b) #Exponent
print(a // b) #Floor Division

13
7
30
3.3333333333333335
1
1000
3

##2. Comparison (Relational) operators

These operators compare two values and return `True` or `False`

'==' Equal to

'!=' Not equal to

'>' Greater than

'<' Less than

'>=' Greater than or equal

'<=' Less than or equal

In [2]:
x = 9
y = 5

print(x > y) #True
print(x == y) #False
print(x < y) #False

True
False
False

## 3. Logical Operators

These are used to combine multiple condition. They return `True` or `False`

and - True if both are true - True and False

or - True if at least one is True - True or False

not - Reverses the condition - not True

In [3]:
a = True
b = False

print(a and b) #False, because both are not True
print(a or b) #True, at least one is True
print(not a) #False, reverses True to False

False
True
False

##4. Assignment Operators

These are used to assign values to variables.

Some also perform an operation and then assign the result.

= , += , -=, *= , /= , %=

In [4]:
x = 5
x += 3 #Now x = 8
print (x)

8

##5. Membership operators

These check whether a value is present in a list, string, or t=other collections.

`in` -- Value exists

`not in` -- Value doesn't exist

In [5]:
fruits = ["apple", "banana", "orange"]

print("apple" in fruits) #True
print("grape" not in fruits) #True

True
True

#4) What is a list? Give examples for its different methods.

A list is a mutable ordered collection of items. Lists can store any data type, including a mix of types.

`append()` - add an elemenr at the end.

`sort()` - sort the list.

`reverse()` - reverse the list order.

`remove()` - remove first ocurrence of a value.

`pop()` - remove element by index.

`insert()` - insert at a specific index.

`index()` - get index of an element.

`extend()` - adds all the elements from another list to the end.

`count()` - returns the number of times te item appears in the list.

`copy()` - returns a shallow copy of the list.

`clear()` - removes all elements from the list.

In [ ]:
# Creating a sample list
fruits = ["apple", "banana", "cherry"]

# 1) Append
fruits.append("mango")  # Adds 'mango' at the end

# 2) Sort
fruits.sort()  # Sorts alphabetically

# 3) Reverse
fruits.reverse()  # Reverses the current order

# 4) Remove
fruits.remove("banana")  # Removes first 'banana' if it exists

# 5) Pop
last_item = fruits.pop()  # Removes and returns last element

# 6) Insert
fruits.insert(1, "orange")  # Adds 'orange' at index 1

# 7) Index
print(fruits.index("orange"))  # Prints position of 'orange'

# 8) Extend
fruits.extend(["grape", "kiwi"])  # Adds multiple elements at end

# 9) Count
print(fruits.count("apple"))  # Number of 'apple' occurrences

# 10) Copy
new_list = fruits.copy()  # Creates a copy

# 11) Clear
fruits.clear()  # Removes all elements from the list

#5) Explain string and its methods with examples.

A string is a sequence of characters enclosed in quotes. Strings are immutable, meaning we can’t change them directly, but we can create new strings from them.

In [7]:
text = "Hello World"

print("Hello".isalpha())      # Only letters? → True
print("Hello123".isalnum())   # Letters/numbers? → True
print(text.index("World"))    # Index of "World"
print(text.count("l"))        # Count 'l'
print(text.capitalize())      # Capitalize first letter
print("123".isdigit())        # Only digits? → True
print(text.lower())           # Lowercase
print(text.upper())           # Uppercase
print(text.replace("World", "Python"))  # Replace word
print("   Hello   ".strip())  # Remove spaces
print(text.split())           # Split into list
print(" ".join(["Python", "is", "fun"]))# Join list to string

True
True
6
3
Hello world
True
hello world
HELLO WORLD
Hello Python
Hello
['Hello', 'World']
Python is fun

#6) What are conditional statements and explain them with examples?

Conditional statements allow a program to make decisions based on certain conditions. If a condition is True, a certain block of code runs; if not, another block may run.

`if` Statement → Runs a block of code only if the condition is `True`.

In [8]:
age = 20
if age >= 18:
    print("You are an adult.")  # This runs only if condition is True

You are an adult.

`if-else` Statement → Runs one block if the condition is `True`, otherwise runs another block.

In [ ]:
age = 16
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")  # This runs if condition is False

You are a minor.

`if-elif-else` Statement → Checks multiple conditions in sequence; runs the first block whose condition is `True`.

In [ ]:
score = 85
if score >= 90:
    print("Grade A")
elif score >= 75:
    print("Grade B")  # Runs if 75 ≤ score < 90
else:
    print("Grade C")

Grade B